    <nav id="nav-small">
      <a href="/"><img src="/images/logo_black_white_yellow.png" alt="Logo ST_ART"></a>
      <div>
        <a  id="search-city-nav">Search City...</a>
  
        {{#if user}}
        <a href="/userProfile">My profile</a>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </div>
   </nav>