<header class="header-home">
    <div class="nav">
      <div class="nav-background"></div>
      <nav>
        <div>
        </div>
        <div class="link-items">
          {{#if userInSesion}}
          <a href="/userProfile">My profile</a>
          {{else}}
          <a href="/login" >Login</a>
          <a href="/signup">Signup</a>
          {{/if}}

        </div>
      </nav>
    </div>

   
  <div class='main'>
      <div id="color-box-small">
        <p>The streets are calling</p>
        <p>Spot, Share and Visit St<span>reet</span> Art</p>
        <form method="POST" action="">
          <input type="search" name='search' placeholder="Find a city......." id="search-city" aria-label="Search for city">
          <input type="submit" name="Search" id="submit-search" value='Go'>
        </form>
      </div>

       <img src="../images/logo_black_white_yellow.png" alt="Logo ST_ART" id='logo-big'>
      <div id="color-box-big"></div>
  </div>
</header>