<header class="header-home">

    <nav>
      <div>
        <img src="../images/logo horizontaal.png" alt="Logo ST_ART horizontaal ">
      </div>
      <div>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    </nav>
  <div class='blocks-home'>


    <div id="div1"> </div>
    <div id="div2"> </div>
    <div id="div3"> </div>
    <div id="div4"> </div>
    <div id="div5"> </div>
    <div id="div6"> </div>
    <div id="div7"> 
      <img src="../images/Logo ST_ART2.png" alt="Logo ST_ART">
    </div>
    <div id="div8"> </div>
    <div id="div9"> </div>
    <div id="div10"> </div>
    <div id="div11"> </div>
    <div id="div12"> </div>
    <div id="div13"> </div>
    <div id="div14"> </div>
  </div>
</header>