<header class="header-home">
    <div class="nav-background"></div>
    <nav>
      <div>
        {{!-- <img src="../images/logo horizontaal.png" alt="Logo ST_ART horizontaal "> --}}
      </div>
      <div>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
      </div>
    </nav>
   
  <div class='main'>
      <div id="color-box-small">
        <p>The streets are calling</p>
        <p>Spot, Share and Visit St_ Art</p>
        <form method="POST" action="">
          <input type="search" name='search' placeholder="Find a city......." id="search-city" aria-label="Search for city">
          <input type="submit" name="Search" id="submit-search" value='Go'>
        </form>
      </div>

       <img src="../images/logo_black_yellow.png" alt="Logo ST_ART">
      <div id="color-box-big"></div>
  </div>
</header>