@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* general  */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 62.5% ;
  color: white;
  
}

a {
  text-decoration: none;
  color: black;
}

/* styling home */
.header-home {
  background-image: url('../images/map-amsterdam.jpg');
  /* background-color: rgb(226, 226, 226);
  background-blend-mode: darken; */
  height: 82.5%;
  background-size: cover;
  background-repeat: no-repeat;

  /* background: 
  linear-gradient(black 0%, yellow 90%), 
  linear-gradient(to right, black 0%, yellow 90%), 
  url('../images/map-amsterdam.jpg');

  background-blend-mode: screen, color-dodge, lighten; */
}

.header-home nav {
  height: 7.5%;
  background-color: white;
  /* opacity: 0.9; */
  overflow: hidden; 
  top: 0;
  width: 100%; 
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.1);
}

.header-home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-home nav div {
  margin: 0 30px;
}

.header-home nav img {
  width: 80px;
}

.header-home nav a {
  font-size: 1rem;
  padding-left: 10px;
}

.blocks-home {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 92.5%;
}

.blocks-home div {
  margin: 8px;
}

#div1 { 
  grid-area: 1 / 1 / 4 / 4; 
  background-color: yellow;
  /* box-shadow: inset 0px 0px 90px 5px rgba(255, 255, 255, 0.9); */
  mix-blend-mode: exclusion;;
}

#div2 { 
  grid-area: 1 / 4 / 4 / 6;
}

#div3 { 
  grid-area: 1 / 6 / 4 / 9;
  background-color:#ff0015;
  mix-blend-mode: exclusion;
 }

#div4 { grid-area: 1 / 9 / 2 / 11; }
#div5 { grid-area: 1 / 11 / 2 / 12; }
#div6 { grid-area: 4 / 1 / 9 / 2; }

#div7 { 
  grid-area: 4 / 2 / 9 / 6; 
  background-color: black;
}

#div7 img {
  height: 20vh;
  padding: 40px;
}

#div8 { 
  grid-area: 4 / 6 / 9 / 9; 
  background-color:#ff0015;
  mix-blend-mode: exclusion;
}

#div9 { 
  grid-area: 2 / 9 / 9 / 11; 
  background-color: rgb(132, 0, 255);
  mix-blend-mode: exclusion;;
}
#div10 { 
  grid-area: 2 / 11 / 12 / 12; 
  background-color: yellow;
  mix-blend-mode: exclusion;;
}

#div11 { 
  grid-area: 9 / 1 / 12 / 2; 
  background-color:#ff0015;
  mix-blend-mode: exclusion;;
}

#div12 { 
  grid-area: 9 / 2 / 12 / 6; 
  background-color: rgb(132, 0, 255);
  mix-blend-mode: exclusion;;
}
#div13 { grid-area: 9 / 6 / 12 / 7; }
#div14 { grid-area: 9 / 7 / 12 / 11; }

#div2, #div4, #div5, #div6, #div13, #div14 {
  /* background-color: black;
  mix-blend-mode: exclusion;  */
}

#div1, #div2, #div3, #div4,#div5 {
  margin-top: 0;
} 

#div1, #div6, #div11 {
  margin-left: 0;
}

#div10, #div11, #div12, #div13, #div14 {
  margin-bottom: 0;
} 

#div5, #div10 {
  margin-right: 0;
}






