@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*//////////////////////////// GENERAL /////////////////////////////////*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5% ;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
  font-family: 'Poppins', sans-serif;
}


/*//////////////////////////// HOME PAGE /////////////////////////////////*/
.header-home {
  background-image: url('../images/background-homekopie.jpg');
  background-position: top;
  height: 100%;
  background-size: cover;
  top: 0
}

.nav-background {
  height: 210px;
  background-image: url('../images/nav-background.png');
  background-position: bottom;
  mix-blend-mode: color-dodge;
  width: 100%;

}

.header-home nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  width: 100%;
}

.header-home nav div {
  margin: 0 40px;
}

.header-home nav img,
.profile-page nav img {
  width: 80px;
}

.header-home nav a,
.profile-page nav a {
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 30px;
}

.main img {
  height: 27vw;
  position: absolute;
  top: 45%;
  left: 38%;
  transform: translate(-50%, -50%);
}

#color-box-big {
  background-color: #ff00c8;
  border-top-right-radius: 30px;
  /* border-top-left-radius: 30px; */
  width: 50vw;
  height: 53vh;
  margin: 0 auto;
}

#color-box-small {
  background-color: yellow;
  width: 41vw;
  height: 32vh;
  position: absolute;
  top: 58%;
  left: 38%;
  border-bottom-left-radius: 30px;
}

#color-box-small span {
  color: black;
  font-size: 0.7rem;
}

#color-box-small p {
  text-align: right;
  margin-right: 30px;
}

#color-box-small p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 40px;

}

#color-box-small p:nth-child(2) {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #ff00c8
}

#color-box-small form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
}

/* SEARCH FIELD */
#search-city {
  background-color: transparent;
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 50px;
  width: 300px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 1.1rem;
}

.pac-container{
  background-color:  yellow;
  border-radius: none;
  font-family:  'Poppins', sans-serif;
  margin-top: -10px;
  outline: none;
  border-top: none;
  box-shadow: none;
  height: 93px;
}

.pac-logo:after {
  display: none;
}
.hdpi.pac-logo:after {
  display: none;
}

.pac-item-selected,
.pac-item-selected:hover {
    background-color: #ff00c8;
}

.pac-matched {
  font-weight: 400;
}

.pac-item {
  border-top: none;
  color: #ff00c8;
}

.pac-item-query {
  font-size: 1rem;
  padding: 0 10px;
  color: #000
}

.pac-item:hover {
  background-color: #ff00c8;
  color: yellow;
}

.pac-icon {
  display: none;
}


#submit-search {
  text-decoration: none;
  background-color: #10d4b7;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  height: 50px;
  width: 100px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 1.3rem;
}

/*//////////////////////////// USER PROFILE /////////////////////////////////*/
.profile-page nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 200px;
}

.nav-profile-background {
  background-image: url('../images/nav-profilepage.png');
  background-position: bottom;
  height: 200px;
  width: 100%;
}

/* city page */
#map {
  height: 500px;
  width: 100%;
}