@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* general  */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 62.5% ;
  color: black;
}

a {
  text-decoration: none;
  color: black;
}


/* styling home */
.header-home {
  background-image: url('../images/background-homekopie.jpg');
  background-position: top;
  height: 100%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  top: 0
}

.nav-background {
  height: 210px;
  background-image: url('../images/nav-background.png');
  background-position: bottom;
  mix-blend-mode: color-dodge;
  width: 100%;

}

.header-home nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  width: 100%;
}

.header-home nav div {
  margin: 0 40px;
}

.header-home nav img,
.profile-page nav img {
  width: 80px;
}

.header-home nav a,
.profile-page nav a {
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 30px;
}

.main div img {
  height: 50vh;
  /* padding: 0px 200px 200px 40px;
  margin-left: 60px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Profile page user */
.profile-page nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  height: 200px;
}

.nav-profile-background {
  background-image: url('../images/nav-profilepage.png');
  background-position: bottom;
  height: 200px;
  width: 100%;
}

/* city page */
#map {
  height: 500px;
  width: 100%;
}