
<div class="profile-page">

  
  <nav>

      {{!-- <a href="/"><img src="../images/logo_black_white_yellow.png" alt="Logo ST_ART"></a>      --}}
      <a href="javascript:javascript:history.go(-1)" >< back</a>
      <a href="/logout">logout</a>
     
  </nav>


  <div class='main-profilepage'>
    {{#if userInSession}}
        <h2>Welcome, {{ userInSession.username }}!</h2>
        <img src="{{ userInSession.profileImgUrl }}" alt="Profile picture: "{{ userInSession.username }}>
        <p>This is your profile page my friend!</p>


    {{else}}
        <p>You are not loggedin, please login!</p>
    {{/if}}

  </div>




</div>






