<p>Add new streetart</p>
<div id="map"></div>
<br>
<br>
<form method="POST" action="/streetart/add" enctype="multipart/form-data" id="add-st-art-form">
  <input type="text" name="name" placeholder="name artwork" >
  <input type="text" name="artist" placeholder="name artist" >
 
  <label>Address</label>
  <input type="text" name='address' placeholder="Enter your address" id="streetart-address">

  <label>Street</label>
  <input type="text" name='street' id="route"  class="field" disabled="true" >
  <label>Number</label>
  <input  type="number" name='street-number' id="street_number" disabled="true" >
  <label>Postal code</label>
  <input type="text" name="postal_code" id="postal_code" disabled="true" >
  <label>City</label>
  <input type="text" name="city" id="locality" disabled="true" >
  <label>Country</label>
  <input type="text" name='country' id='country' disabled="true" >
  <input type="hidden" name="latitude" id="streetart-lat" >
  <input type="hidden" name="longitude"  id="streetart-lng">


  <label for="input-streetArt-picture">Upload picture street art </label>
  <input type="file" name='streetArt-picture' id="input-streetArt-picture">
 
  <input type="submit" name="" id="submit-streetart">
</form>
